<a href="https://colab.research.google.com/github/nualpair/DWDM21/blob/main/Mini_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ข้อสอบ
จาก data flights.csv และ airports.csv ใน https://drive.google.com/drive/folders/1oIuILAK9cg1v0--IHtE1sHUrn2hchUQF

0.หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

1.หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด

2.วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์

3.สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด

4.สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด

5.วันธรรมดา หรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)

6.(ตั้งเอง)ไฟท์ 10 ไฟท์ล่าสุดในรัฐ NY

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function gen_exams() แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน) และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [8]:
import pandas as pd

In [12]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import os

In [16]:
flights = pd.read_csv('/content/drive/MyDrive/Mini Exam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [17]:
airports = pd.read_csv('/content/drive/MyDrive/Mini Exam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [18]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

In [19]:
gen_exams('623020525-0') #runโจทย์ที่ต้องทำ

รหัสนักศึกษา 623020525-0 ทำข้อ 0 และ 5

In [20]:
merged_table = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน')  
#เชื่อมตาราง 2 ตาราง

In [21]:
merged_table #ตารางที่เชื่อมออกมา

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

In [22]:
merged_table.dropna() ##เช็คmissing

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

0.หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

In [38]:
merged_table.groupby('รัฐ').count()  #ตรวจดูจำนวนเที่ยวบินของแต่ละรัฐ

     วันในเดือน  วันในสัปดาห์  สายการบิน  ...  รหัสสนามบิน   เมือง  ชื่อสนามบิน
รัฐ                                       ...
AK         7700          7700       7700  ...         7700    7700         7700
AZ       100710        100710     100710  ...       100710  100710       100710
CA       380046        380046     380046  ...       380046  380046       380046
CO        97259         97259      97259  ...        97259   97259        97259
CT        13042         13042      13042  ...        13042   13042        13042
DC        80536         80536      80536  ...        80536   80536        80536
FL       208139        208139     208139  ...       208139  208139       208139
GA       148563        148563     148563  ...       148563  148563       148563
HI        28395         28395      28395  ...        28395   28395        28395
IL       176939        176939     176939  ...       176939  176939       176939
IN        18038         18038      18038  ...        18038   18038        18038
KY        10915         10915      10915  ...        10915   10915        10915
LA        25184         25184      25184  ...        25184   25184        25184
MA        66699         66699      66699  ...        66699   66699        66699
MD        51761         51761      51761  ...        51761   51761        51761
MI        62584         62584      62584  ...        62584   62584        62584
MN        60174         60174      60174  ...        60174   60174        60174
MO        63570         63570      63570  ...        63570   63570        63570
NC       104766        104766     104766  ...       104766  104766       104766
NE        13487         13487      13487  ...        13487   13487        13487
NJ        64313         64313      64313  ...        64313   64313        64313
NM        17542         17542      17542  ...        17542   17542        17542
NV        88222         88222      88222  ...        88222   88222        88222
NY       132823        132823     132823  ...       132823  132823       132823
OH        66389         66389      66389  ...        66389   66389        66389
OK        13922         13922      13922  ...        13922   13922        13922
OR        30484         30484      30484  ...        30484   30484        30484
PA        67957         67957      67957  ...        67957   67957        67957
PR        13840         13840      13840  ...        13840   13840        13840
RI         9313          9313       9313  ...         9313    9313         9313
TN        53414         53414      53414  ...        53414   53414        53414
TX       275503        275503     275503  ...       275503  275503       275503
UT        47324         47324      47324  ...        47324   47324        47324
VA        21491         21491      21491  ...        21491   21491        21491
WA        60172         60172      60172  ...        60172   60172        60172
WI        21002         21002      21002  ...        21002   21002        21002

[36 rows x 10 columns]

In [45]:
max = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False)  ##หารัฐที่มีขาเข้ามากที่สุด
max.iloc[:1,3:4]

     รหัสสนามบินต้นทาง
รัฐ
CA              380046

In [46]:
min = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False) ##หารัฐที่มีขาเข้าน้อยที่สุด
min.iloc[-1:,3:4]

     รหัสสนามบินต้นทาง
รัฐ
AK                7700

5.วันธรรมดา หรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)

In [48]:
merged_table.groupby('วันในสัปดาห์').count() #ตรวจดูวันในสัปดาห์

              วันในเดือน  สายการบิน  ...     รัฐ  ชื่อสนามบิน
วันในสัปดาห์                         ...
1                 407837     407837  ...  407837       407837
2                 397594     397594  ...  397594       397594
3                 403072     403072  ...  403072       403072
4                 406563     406563  ...  406563       406563
5                 396387     396387  ...  396387       396387
6                 318537     318537  ...  318537       318537
7                 372228     372228  ...  372228       372228

[7 rows x 10 columns]

In [61]:
week = merged_table.groupby('วันในสัปดาห์').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) #ดูจำนวนเครื่องบินขาเข้าในแต่ละวัน
week.iloc[:,3:4]

              รหัสสนามบินปลายทาง
วันในสัปดาห์
1                         407837
4                         406563
3                         403072
2                         397594
5                         396387
7                         372228
6                         318537

In [62]:
Weekday = week.iloc[:5,3:4].sum() #หาจำนวนเครื่องบินขาเข้าในวันธรรมดา
Weekday

รหัสสนามบินปลายทาง    2011453
dtype: int64

In [63]:
Weekend = week.iloc[5:7,3:4].sum() #หาจำนวนเครื่องบินขาเข้าในวัน เสาร์-อาทิตย์
Weekend

รหัสสนามบินปลายทาง    690765
dtype: int64

วันธรรมดา มีเครื่องบินขาเข้ามากกว่าวันเสาร์-อาทิตย์

6.(ตั้งเอง)ไฟท์ 10 ไฟท์ล่าสุดในรัฐ NY

In [33]:
merged_table

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

In [64]:
merged_table[merged_table['รัฐ']=='NY'] #เลือกดูเฉพาะในรัฐNY

         วันในเดือน  วันในสัปดาห์  ... รัฐ                    ชื่อสนามบิน
16               19             5  ...  NY                      LaGuardia
25               19             5  ...  NY                      LaGuardia
33               20             6  ...  NY                      LaGuardia
44               20             6  ...  NY                      LaGuardia
47               20             6  ...  NY  John F. Kennedy International
...             ...           ...  ...  ..                            ...
2702196          19             6  ...  NY                      LaGuardia
2702198          19             6  ...  NY  John F. Kennedy International
2702206          19             6  ...  NY  John F. Kennedy International
2702210          19             6  ...  NY  John F. Kennedy International
2702212          19             6  ...  NY  John F. Kennedy International

[132823 rows x 11 columns]

In [66]:
last10 = merged_table[merged_table['รัฐ']=='NY'].iloc[-10:,:] #เอาเฉพาะ 10 ไฟท์ล่าสุดในเมือง NY
last10

         วันในเดือน  วันในสัปดาห์  ... รัฐ                    ชื่อสนามบิน
2702172          19             6  ...  NY  John F. Kennedy International
2702176          19             6  ...  NY  John F. Kennedy International
2702181          19             6  ...  NY  John F. Kennedy International
2702185          19             6  ...  NY  John F. Kennedy International
2702192          19             6  ...  NY  John F. Kennedy International
2702196          19             6  ...  NY                      LaGuardia
2702198          19             6  ...  NY  John F. Kennedy International
2702206          19             6  ...  NY  John F. Kennedy International
2702210          19             6  ...  NY  John F. Kennedy International
2702212          19             6  ...  NY  John F. Kennedy International

[10 rows x 11 columns]