<a href="https://colab.research.google.com/github/nualpair/DWDM21/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Project กลุ่ม #### 
* present วันที่ 31 สิงหาคม 2564
* ข้อมูลที่ไปดึงมาจาก 3 แหล่ง
* แสดงวิธีการโหลด
* ความเชื่อมโยงของ 3 ตาราง (index)

In [ ]:
import pandas as pd # ข้อมูลลักษณะ ตาราง

In [ ]:
from google.colab import drive #เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ls #เป็นคำสั่งไว้ตรวจสอบที่อยู่ของไฟลืว่ามีไฟล์ครบรึป่าว

drive/  sample_data/

In [ ]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)

In [ ]:
path = '/content/drive/My Drive/PROJECT'

#ข้อมูลจำนวนประชากรในกรุงเทพมหานคร จำแนกตามอายุและเขต ปี 59,57,56

## data 0

In [ ]:
data = pd.read_csv(os.path.join(path,'poppulationbyage56.csv'))
data  ## import ไฟล์ของ ปี56

     id  dcode  sex  age0  ...  lunarcalendar   CHR  othernationalities  move
0     1   1033    1   446  ...              1  4107                1018   207
1     2   1033    2   391  ...              1  3832                 645   175
2     3   1018    1   278  ...              2  1101                 920   350
3     4   1018    2   240  ...              1   907                 753   323
4     5   1046    1   981  ...              0   442                 162   115
..  ...    ...  ...   ...  ...            ...   ...                 ...   ...
95   96   1003    2  1016  ...              0   231                  70    70
96   97   1041    1   390  ...              0   842                 150   552
97   98   1041    2   392  ...              0   376                 118   157
98   99   1017    1   337  ...              0   745                 383   234
99  100   1017    2   306  ...              0   638                 272   177

[100 rows x 109 columns]

In [ ]:
print(data.shape)
data.head()

(100, 109)

   id  dcode  sex  age0  ...  lunarcalendar   CHR  othernationalities  move
0   1   1033    1   446  ...              1  4107                1018   207
1   2   1033    2   391  ...              1  3832                 645   175
2   3   1018    1   278  ...              2  1101                 920   350
3   4   1018    2   240  ...              1   907                 753   323
4   5   1046    1   981  ...              0   442                 162   115

[5 rows x 109 columns]

In [ ]:
data_New20 = data[['id','dcode','sex','age20','othernationalities','move']]
data_New20 #เลือกเฉพาะคอลัมที่ต้องการ เเละสร้างเป็นชื่อตัวเเปรใหม่ ตารางใหม่

     id  dcode  sex  age20  othernationalities  move
0     1   1033    1    721                1018   207
1     2   1033    2    732                 645   175
2     3   1018    1    460                 920   350
3     4   1018    2    498                 753   323
4     5   1046    1   1157                 162   115
..  ...    ...  ...    ...                 ...   ...
95   96   1003    2   1162                  70    70
96   97   1041    1    676                 150   552
97   98   1041    2    689                 118   157
98   99   1017    1    527                 383   234
99  100   1017    2    472                 272   177

[100 rows x 6 columns]

## data1

In [ ]:
data1 = pd.read_csv(os.path.join(path,'poppulationbyage59.csv'))
data1 # import ไฟล์ปี 59

     id  dcode  sex  age0  ...  lunarcalendar   CHR  othernationalities  move
0     1   1033    1   374  ...              1  3617                1032   204
1     2   1033    2   341  ...              1  3524                 628   158
2     3   1018    1   210  ...              0  1852                 815   299
3     4   1018    2   177  ...              0  1713                 680   276
4     5   1046    1   993  ...              0   483                 230   112
..  ...    ...  ...   ...  ...            ...   ...                 ...   ...
95   96   1003    2   840  ...              0   228                 106    95
96   97   1041    1   370  ...              0   771                 166   456
97   98   1041    2   350  ...              0   364                 147   106
98   99   1017    1   327  ...              0   995                 474   248
99  100   1017    2   314  ...              0   862                 311   180

[100 rows x 109 columns]

In [ ]:
data1_New20 = data1[['id','dcode','sex','age20','othernationalities','move']]
data1_New20 #เลือกเฉพาะคอลัมที่ต้องการ เเละสร้างเป็นชื่อตัวเเปรใหม่ ตารางใหม่

     id  dcode  sex  age20  othernationalities  move
0     1   1033    1    700                1032   204
1     2   1033    2    700                 628   158
2     3   1018    1    441                 815   299
3     4   1018    2    472                 680   276
4     5   1046    1   1496                 230   112
..  ...    ...  ...    ...                 ...   ...
95   96   1003    2   1291                 106    95
96   97   1041    1    727                 166   456
97   98   1041    2    708                 147   106
98   99   1017    1    469                 474   248
99  100   1017    2    468                 311   180

[100 rows x 6 columns]

##data 2

In [ ]:
data2 = pd.read_csv(os.path.join(path,'poppulationbyage57.csv'))
data2

     id  dcode  sex  age0  ...  lunarcalendar   CHR  othernationalities  move
0     1   1033    1   447  ...              1  4073                1026   200
1     2   1033    2   379  ...              1  3824                 633   188
2     3   1018    1   236  ...              2  1371                 917   321
3     4   1018    2   206  ...              1  1195                 716   310
4     5   1046    1  1029  ...              0   417                 184   124
..  ...    ...  ...   ...  ...            ...   ...                 ...   ...
95   96   1003    2   938  ...              0   239                  78    73
96   97   1041    1   398  ...              0   804                 158   569
97   98   1041    2   364  ...              0   365                 124   160
98   99   1017    1   333  ...              0   785                 402   218
99  100   1017    2   339  ...              0   676                 275   175

[100 rows x 109 columns]

In [ ]:
data2_New20 = data2[['id','dcode','sex','age20','othernationalities','move']]
data2_New20 #เลือกเฉพาะคอลัมที่ต้องการ เเละสร้างเป็นชื่อตัวเเปรใหม่ ตารางใหม่

     id  dcode  sex  age20  othernationalities  move
0     1   1033    1    665                1026   200
1     2   1033    2    744                 633   188
2     3   1018    1    471                 917   321
3     4   1018    2    496                 716   310
4     5   1046    1   1226                 184   124
..  ...    ...  ...    ...                 ...   ...
95   96   1003    2   1208                  78    73
96   97   1041    1    718                 158   569
97   98   1041    2    690                 124   160
98   99   1017    1    453                 402   218
99  100   1017    2    466                 275   175

[100 rows x 6 columns]

อยากได้ข้อมูลที่เหมือนกันล่าสุด



1.   รวม 3 ตารางเข้าด้วยกัน
2.   เราต้องการทราบว่ามีจำนวนประชากรในกรุ่งเทพมหานคร ที่อายุ 20 ของทุกปี ทั้งหมดเท่าไหร่

In [ ]:
merged_table = data_New20.merge(data1_New20,how='left',left_on='id',right_on='id')
merged_table #รวมตาราง data_New20 กับ data1_New20 เข้าด้วยกันก่อน โดยให้ เเละหากข้อมูลซ้ำ จะให้ เเอตทริบิ้ว ปี56 ตามหลังด้วย _x เเละเเอตทริบิ้ว ปี 59 ตามด้วย _y

     id  dcode_x  sex_x  age20_x  ...  sex_y  age20_y  othernationalities_y  move_y
0     1     1033      1      721  ...      1      700                  1032     204
1     2     1033      2      732  ...      2      700                   628     158
2     3     1018      1      460  ...      1      441                   815     299
3     4     1018      2      498  ...      2      472                   680     276
4     5     1046      1     1157  ...      1     1496                   230     112
..  ...      ...    ...      ...  ...    ...      ...                   ...     ...
95   96     1003      2     1162  ...      2     1291                   106      95
96   97     1041      1      676  ...      1      727                   166     456
97   98     1041      2      689  ...      2      708                   147     106
98   99     1017      1      527  ...      1      469                   474     248
99  100     1017      2      472  ...      2      468                   311     180

[100 rows x 11 columns]

เชื่อมตารางล่าสุดกับ data2_New20

In [ ]:
merged_table1 = merged_table.merge(data2_New20,how='left',left_on='id',right_on='id')
merged_table1 #sex คือ เพศ age คือ อายุ othernationalities คือ สัยชาติ  move คือ ย้ายที่อยู่ รวม ออก-เข้ากรุงเทพมหานคร

     id  dcode_x  sex_x  age20_x  ...  sex  age20  othernationalities  move
0     1     1033      1      721  ...    1    665                1026   200
1     2     1033      2      732  ...    2    744                 633   188
2     3     1018      1      460  ...    1    471                 917   321
3     4     1018      2      498  ...    2    496                 716   310
4     5     1046      1     1157  ...    1   1226                 184   124
..  ...      ...    ...      ...  ...  ...    ...                 ...   ...
95   96     1003      2     1162  ...    2   1208                  78    73
96   97     1041      1      676  ...    1    718                 158   569
97   98     1041      2      689  ...    2    690                 124   160
98   99     1017      1      527  ...    1    453                 402   218
99  100     1017      2      472  ...    2    466                 275   175

[100 rows x 16 columns]

In [ ]:
sumage = merged_table1[['age20','age20_x','age20_y']]
sumage #age20 คือ จำนวนปชชกร ปี56 age20_x คือ จำนวนประชากรปี 59 age_Y คือจำนวนประชากร ปี 57

    age20  age20_x  age20_y
0     665      721      700
1     744      732      700
2     471      460      441
3     496      498      472
4    1226     1157     1496
..    ...      ...      ...
95   1208     1162     1291
96    718      676      727
97    690      689      708
98    453      527      469
99    466      472      468

[100 rows x 3 columns]

In [ ]:
sumage.describe()
# mean จำนวนประชากร age20 มีประมาณ 771 คน mean จำนวนประชากร age20_x มีค่าประมาณ 773 คน mean จำนวนประชากร age_y มีค่าประมาณ 800 คน

             age20      age20_x      age20_y
count   100.000000   100.000000   100.000000
mean    771.410000   773.280000   800.470000
std     304.064224   289.310643   348.960663
min     168.000000   149.000000   131.000000
25%     540.250000   561.250000   555.750000
50%     744.500000   759.000000   726.000000
75%     982.750000   976.750000  1053.500000
max    1441.000000  1369.000000  1643.000000